Repository nsalvacao/Package_Audit_Dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  # Python import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile', 'black']

  # Python linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^backend/
        args:
          - '--max-line-length=100'
          - '--extend-ignore=E203,W503'
          - '--exclude=.venv,__pycache__,*.pyc'

  # Python type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       files: ^backend/
  #       additional_dependencies: [types-all]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        files: \.(md|markdown)$

  # Frontend - ESLint (requires Node.js environment)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint --if-present'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Frontend - Prettier (requires Node.js environment)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --write'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

# Global configuration
default_language_version:
  python: python3.11

exclude: |
  (?x)^(
      \.git/|
      \.venv/|
      node_modules/|
      __pycache__/|
      \.pytest_cache/|
      \.mypy_cache/|
      dist/|
      build/|
      .*\.egg-info/
  )

feat: Complete Phase 2 implementation - Advanced features
  CHANGELOG_PHASE2.md
  README.md
  backend/app/adapters/base.py
  backend/app/adapters/npm.py
  backend/app/adapters/pip.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/advanced.py
  backend/app/routers/streaming.py
  backend/tests/test_advanced_router.py
  backend/tests/test_streaming_router.py
  frontend/src/components/LockfileExport.tsx
  frontend/src/components/ManagerCard.tsx
  frontend/src/components/VulnerabilityScan.tsx
Due: eslint, prettier

fix: Update placeholder references and version number
  README.md
  frontend/src/App.tsx
Due: eslint, prettier

feat: Complete comprehensive improvements - All 15 recommendations implemented
  .dockerignore
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  LANG.md
  LICENSE
  README.md
  backend/.env.example
  backend/Dockerfile
  backend/app/core/logging.py
  backend/app/core/rate_limiter.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/health.py
  docker-compose.yml
  docs/DOCKER.md
  docs/ENV_SETUP.md
  docs/OPTIONAL_DEPENDENCIES.md
  docs/index.md
  frontend/Dockerfile
  frontend/src/components/LockfileExport.tsx
  frontend/src/components/VulnerabilityScan.tsx
  mkdocs.yml
Due: eslint, prettier

feat: Enhanced dashboard with persistent settings and fixed workflows
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  frontend/src/components/Tabs.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/OperationsView.tsx
  frontend/src/pages/PackagesView.tsx
  frontend/src/pages/SecurityView.tsx
  frontend/src/pages/SettingsView.tsx
  frontend/src/store/appStore.ts
Due: eslint, prettier

fix: Resolve all workflow and code issues
  .github/workflows/docker.yml
  .github/workflows/test.yml
  backend/app/core/rate_limiter.py
  backend/requirements.txt
  frontend/package-lock.json
  frontend/src/components/VulnerabilityScan.tsx
  frontend/src/pages/PackagesView.tsx
Due: eslint, prettier

fix: Python 3.8+ compatibility and ESLint compliance
  .github/workflows/test.yml
  backend/app/core/logging.py
  backend/app/core/queue.py
  backend/app/core/rate_limiter.py
  backend/app/routers/health.py
  backend/app/storage/json_storage.py
  frontend/src/components/VulnerabilityScan.tsx
  frontend/src/pages/PackagesView.tsx
  frontend/src/pages/SecurityView.tsx
Due: eslint, prettier

fix: Async generator syntax and workflow permissions
  .github/workflows/test.yml
  backend/app/routers/streaming.py
  frontend/src/pages/SecurityView.tsx
Due: eslint, prettier

Translate markdown documentation to English
  BLUEPRINT_FINAL.md
  CHANGELOG_PHASE2.md
  Comandos_por_gestor_de_pacotes.md
  FASE1_BREAKDOWN.md
  LANG.md
  LOG.md
  README.md
Due: none

docs: Add comprehensive 'How to Use' section to README
  README.md
Due: none

feat: Add comprehensive GitHub Codespaces configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.extend.yml
  .devcontainer/setup.sh
  .gitignore
  CODESPACES_SETUP.md
  README.md
  docs/CODESPACES.md
  docs/COPILOT_GUIDE.md
Due: none

Update duckdb to 1.1.3 in requirements.txt
  backend/requirements.txt
Due: none

Use python -m pip for pip operations in setup script
  scripts/quick_setup.py
Due: none

Update requirements
  backend/requirements.txt
Due: none

Update quick setup
  scripts/quick_setup.py
Due: none

upt
  backend/app/core/executor.py
Due: none

upt
  scripts/quick_setup.py
Due: none

upt main
  backend/app/main.py
Due: none

Add pipx and pnpm adapters and enhance dependency export
  backend/app/adapters/__init__.py
  backend/app/adapters/npm.py
  backend/app/adapters/pipx.py
  backend/app/adapters/pnpm.py
  backend/app/adapters/registry.py
  backend/app/adapters/winget.py
  backend/requirements.txt
Due: none

Add enhanced logging and update documentation
  .env.example
  BACKLOG.md
  README.md
  backend/app/core/enhanced_logging.py
  backend/app/core/logging.py
  backend/app/main.py
  backend/app/routers/managers.py
  docs/development/ENHANCED_LOGGING.md
  frontend/package-lock.json
Due: prettier
